{% assign courseworks = site.data.data.courseworks %}
{% if courseworks %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-book-open fa-stack-1x fa-inverse"></i>
    </span>
    {{ courseworks.title }}
  </h2>

  {% if courseworks.intro %}
  <div class="intro">
      <p>{{ courseworks.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for coursework in courseworks.assignments %}
    <div class="item">

      <span class="project-title">
        {{ coursework.title }}
      </span>

      {% if coursework.tagline %}
      - <span class="project-tagline">{{ coursework.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
